<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
  </head>
  <body>
    <!-- To include common files we use %- which tells express that we are loading html content not js content -->
    <%- include('common/header') %>
    <h1>This is a login Page</h1>
  </body>
</html>
